
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(237, 147, 27);
    padding: 20px;
    align-items: baseline;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.menu :nth-child(2) ul{ 
    /* background-color: rgb(237, 147, 27); */
    color: white;     
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu ul li{
  list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0 5px;
    padding: 15px 20px;
}

.menu ul li .linkuno{
    color: rgb(65, 63, 51);
    font-family:Arial, Helvetica, sans-serif;
    
}
 
 

/*MAIN*/
/*Imagen Principal*/
main section img{
    width: 100%;
    outline: none;
}

main .imagenprincipal{
    position: relative;
}

 
main .servicios{
    background-color: rgb(51, 166, 75);
    margin: 50px;
    border-radius: 10px;
    position: absolute;
    top: 100vh;
    left:50%;
    transform: translateX(-50%);
}

main .servicios h3{
    background-color: rgb(51, 166, 75);
    color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid rgb(39, 117, 56);
    border-radius: 10px;
}

main .servicios h4{
    color: rgb(255, 255, 255); 
    font-size: large;
    padding: 20px
}

main .servicios p{
    color: rgb(255, 255, 255);
    font-family: sans-serif; 
    padding: 20px;
}
 
/*FOOTER*/
footer{ 
    background-color: rgb(237, 147, 27);
    padding: 20px;
    color:white; 
    display: flex; 
    flex-direction: row;  
    justify-content: space-between;
}
 

footer .imagen_footer img{     
    width: 350px;
    height: 200px;
    border-radius: 10px;  
}



 

 


