@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Antique&display=swap');
 

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(26, 140, 247);
    padding: 20px;
    align-items: baseline;
}

.menu{
    width: 70%;
}

.menu ul{
    display: flex;
    flex-direction: row;
    /* background-color: rgb(26, 140, 247); */
    color: white;     
}

.menu ul li{
  width: 100px;
  list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(102, 168, 230);
    font-weight: bold;
    margin: 0 5px;
    padding: 15px 20px;
}

.menu ul li .linkuno{
    color: #fff;
}

.menu ul li a:hover{
    background-color: #fff;
    color: rgb(102, 168, 230);
}

.login > button{

    border: 1px solid white;
    color: white;
    background-color: rgb(26, 140, 247);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/*.main*/
/*Imagen Principal*/
.main{
    margin: 60px; 
    display: grid; 
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px; 
}

.main div section h3{ 
    color:coral;
    
}

.main div section img{
   width: 100%; 
   margin:20px 20px 20px 20px;  
   
}
.main div section div{
    display: flex;
    align-items: center;
 }
.main div section p{
    text-align: right;
    color: coral;
 }
.main > div:nth-child(1){
    background-color: rgba(248, 250, 255, 0.479);  
  
}

.main > div:nth-child(2){
    background-color: rgba(235, 250, 252, 0.445);
    
}

.main > div:nth-child(3){
    background-color: rgba(238, 253, 251, 0.514);
     
} 
.main div section img{
    border-radius: 10px;
    width: 200px;
    height: 200px; 
    
}
main section  .linea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main section .linea hr{
    margin: 20px 0px;
    height: 5px;
    background-color: rgb(26, 140, 247);
    width: 95%;
}

/*FOOTER*/
footer{
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    background-color: rgb(26, 140, 247);
    padding: 20px;
    color:white; 
}



footer .contacto{
    border: 1px dashed white; 
    text-align: center;
    margin-right: 50px;
    width: 50%;
}

footer .contacto p{
    font-family: 'Zen Antique', serif;
    text-align: left;
    margin:10px;  
}

footer .contacto p img{
    width: 25px;
    height: 25px; 
    margin-right: 10px;
}


footer .redes{
    border: 1px dashed white;   
    padding: 0px 20px 10px 20px; 
    width: 50%;
}

footer .redes h2{
    padding-bottom: 20px;
}

footer .redes div{
    display: flex;
    justify-content: space-around;
}

footer .redes button{
    border: none; 
    border-radius: 250px;
    cursor:pointer;
}

 

 


