@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Roboto:wght@300&family=Zen+Antique&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Antique', serif;
    color: #c72e0c;
    background-color: #d8ff90;    
    margin: 20px;
    padding: 20px;
}
p {
    margin: 20px;
}
h1{
    font-size: 70px;
    text-align: center; 
    text-shadow: 5px 5px 5px  rgb(0, 119, 26);
} 

h2 h3 h4 h5{
    font-size: 60px;
    margin: 20px; 
    padding: 20px;
}

h5{
    visibility: collapse;
}

.biografia{
    border: 2px solid rgb(0, 119, 26);
}

img{
    height: 150px;
    width: 150px;
}
  
li{
    list-style: circle;
    margin: 20px;
    padding: 20px;
}

